
<style media="screen">
  .mybutton{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:30px;
  }
  .Heading{
    text-align:center;
    color:#141E61;
  }
  .Btn{
    text-align:center;
  }
  .container{
    padding-top:150px;
  }
  .bodyejs{
    background-color:#FFEBC9;
    margin:0px;
  }
</style>
<div class="bodyejs">
  <div class="container">
    <h1 class="Heading">Resume Builder</h1>
    <p class="Heading">Create a Resume that will be shortlisted easily</p>
    <hr>
    <div class="Btn">
      <a class="mybutton" href="/register" role="button">Register</a>
      <a class="mybutton" href="/login" role="button">Login</a>
    </div>


  </div>
</div>
