<style media="screen">
  .container{
    background-color:#FFEBC9;
    padding-top:150px;
    font-size:2.2em;
    padding-left:50px;
  }
  .mybutton{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:30px;
  }
  h1{
    color:#B05B3B;
  }
</style>
<div class="container">
  <h1>Varify Your OTP</h1>

          <form action="/otpvarify" method="POST">
            <div class="frm">
              <label for="email">Email:-</label>
              <input type="email" name="email" value="<%= emailentered%>">
            </div>
            <div class="frm">
              <label for="OTP">Please Enter OTP which have been send to email account:-</label>
              <input type="number" name="otp">
            </div>
            <button type="submit" class="mybutton">Login</button>
          </form>

        </div>
